@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;300;400&display=swap');
$primary: white;
$secondary: #be3144;


* {
  font-family: 'Roboto Slab', serif;
  color: black;
  // box-sizing: border-box;
  // font-family:'Yeseva One', cursive;

}

.sitewrapper {
  background-color: white;
}


.navbar {
  background-color: whitesmoke;

  .nav-link {
    color: rgb(0, 0, 0);
    cursor: pointer;
    font-size: 20px;
  }

}

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;

  p {
    margin: 0;
  }
}

.btn {
  background-color: whitesmoke;
  border: 1px grey solid;
  color: black;
}

.landing-page {
  min-height: 100vh;

  #hero {
    display: flex;
    justify-content: center;
    width: 100%;
    align-items: center;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 400px;
    height: 200px;

    #landing-search-bar {
      display: flex;
      align-items: flex-end;
    }
  }

  #login-register {
    width: 100%;
    align-items: center;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 400px;
    height: 200px;
  }

  .row {
    padding: 0;
  }

  .btn {
    margin-left: 40px;
    margin-right: 40px;

    #login-register-buttons {
      align-content: center;
    }
  }

  .search-filter-input {
    padding-top: 250px;
  }
}


.form-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
}

.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 30px;
  width: 300px;
  padding: 40px 10px 20px 10px;
  border-radius: 18px;
  background-color: whitesmoke;

  form {
    width: 80%;
  }

  input {
    margin-bottom: 15px;
    width: 100%;
  }

  .btn {
    width: 60%;
    // background-color: bisque;
    margin-top: 30px;
  }
}



.profile-page-container {
  margin-top: 20px;
}

.profile-pic {
  max-width: 200px;
}

.review-card,
.favourite-card {
  margin: 10px 0;
}


// Cards
.location-card {
  font-weight: 300;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  background-color: whitesmoke;

  .card-image {
    background-size: cover;
    background-image: center;
    height: 400px;
    font-weight: 300;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    background-position: top;
    width: 100%;
    // height: 15vw;
    object-fit: cover;
  }

  .card-text {
    text-overflow: ellipsis;
    overflow: hidden;
    display: -webkit-box !important;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    white-space: normal;
  }
}

p {
  margin-top: 18px;
}


//Search and Filter 
.dropdown {
  border: 0px;
  font-size: 36px;

}

.search-filter-input {
  margin-bottom: 10px;
  display: flex;
  justify-content: space-around;
}

.not-found {
  min-height: 100vh;
  text-align: center;
  margin-top: 100px;
}

// Location Single Page
.single-page {
  display: flex;
  max-width: 100%;
  padding: 0px;
  margin: 0px;

  .single-page-container {
    margin: 0 auto;
  }

  .mt-4 {
    margin-top: 0 !important;
  }

  .single-page-header {
    display: flex;
    flex-direction: row;

    .single-page-title {
      margin: 8px;
    }

    .single-page-code {
      margin-bottom: 0px 0px 8px 0px;
      display: flex;
      align-items: flex-end;
    }
  }
}

.header-image {
  height: 100%;
  width: 100%;
  position: relative;
  overflow: hidden;
  padding: 0px;
  // border-top-left-radius: 20px; above mobile size implement these!!
  // border-top-right-radius: 20px;
  border: 2px, solid, grey;
  max-height: 250px; //above mobile make larger

  .single-page-hero {
    object-fit: cover;
    width: 100%;
    height: 100%;
    min-width: 900px;
    padding: 0px;
    border: 2px, solid, grey;
  }

}


img {
  max-width: 100%;
  margin: 0;
  padding: 0;
}

.widget-container {
  display: flex;
  flex-direction: column;
  block-size: fit-content;
  max-width: 100%;
  background-color: whitesmoke;
  padding: 12px;
  padding-left: 40px; // needs more padding above mobile screen size / change orientation to row

  .ifg {
    display: flex;
    margin-bottom: 15px;

    svg {
      width: 1.5em;
      height: 1.5em;
    }
  }
}

hr {
  width: 90%;
  margin: 0 auto;
  margin-bottom: 12px;
}

.review-form {
  display: flex;
}

.btn {
  background-color: bisque;
  align-self: flex-end;
}

textarea {
  width: 100%;
}



.footer {
  background-color: white;
  // position: absolute;
  // bottom: 0;
  // width: 100%;
  // height: 2.5rem;
}

@media (min-width: 768px) {
  .header-image {
    max-height: 500px;
  }

  .widget-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    block-size: fit-content;
    max-width: 100%;
    background-color: whitesmoke;
    padding: 12px;
    // padding-left: 40px; // needs more padding above mobile screen size / change orientation to row
    border-radius: 20px;
    border: 1px solid grey;
    padding-left: 200px;
    padding-right: 200px;

    .ifg {
      display: flex;
      margin-bottom: 15px;

      svg {
        width: 1.5em;
        height: 1.5em;
      }
    }
  }
}

/* Desktop up - once gets above phone screen size of 992 then apply this */
@media (min-width: 992px) {

  .container {
    max-width: 800px;
    padding: 0px !important;

    .nav-link {
      padding-right: 0px !important;
    }
  }

  .location-card {
    height: 350px;
  }

  .header-image {
    max-height: 500px;
  }

}

@media (min-width: 1200px) {

  .container {
    max-width: 1000px;
    padding: 0px !important;
  }
}

// @media (min-width: 1400px){}