* {
  box-sizing: border-box;
}


// .sitewrapper {
//   min-height: 100vh;
// }

.navbar {
  background-color: rgb(124, 229, 237);

  .nav-link {
    color: rgb(0, 0, 0);
    cursor: pointer;
    font-size: 20px;
  }

}

.landing-page {
  min-height: 100vh;
}

.hero {
  display: flex;
  justify-content: center;
  width: 100%;
  align-items: center;
  background-color: bisque;
  min-height: 400px;

  #landing-search-bar {
    display: flex;
    align-items: flex-end;
  }
}

.form-main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 30px;
  width: 300px;
  padding: 40px 10px;
  border-radius: 18px;
  background-color: cornflowerblue;

  input {
    margin-bottom: 10px;
    width: 100%;
  }
  .btn {
    width: 60%;
    background-color: bisque;
  }
}
