@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;300;400&display=swap');
$primary: white;
$secondary: #BE3144;
$tertiary: #f5f5f5;

* {
  font-family: 'Roboto Slab', serif;
  color: black;
  // box-sizing: border-box;
}

.site-wrapper {
  background-color: white;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

// ! Common
.navbar {
  background-color: whitesmoke;

  .nav-link {
    color: rgb(0, 0, 0);
    cursor: pointer;
    font-size: 20px;
    margin: 10px;
  }
  span{
    color: $secondary
  }
}

footer {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: $primary;
  width: 100%;
  background: whitesmoke;

  p {
    margin: 0;
    font-size: 14px;
    font-weight: bolder;
  }

  #copywrite {
    font-size: 12px;
  }
}


p {
  margin: 0;
}



::placeholder {
  color: $secondary;
  font-family: 'Roboto Slab', serif;
}

.spinner {
  margin: 40px 0px 40px;
  display: flex;
  justify-content: center;
}

.btn {
  background-color: whitesmoke;
  border: 1px $secondary solid;
  color: black;
  align-self: flex-end;

  .button:hover {
    background-color: #002EAD;
    transition: 0.7s;
  }
}

//! Pages
// ? Landing
.landing-page {
  min-height: 100vh;

  #hero {
    display: flex;
    justify-content: center;
    width: 100%;
    align-items: center;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 400px;
    height: 200px;

    #landing-search-bar {
      display: flex;
      align-items: flex-end;
    }
  }

  #login-register {
    width: 100%;
    align-items: center;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 400px;
    height: 200px;
  }

  .row {
    padding: 0;
  }

  .btn {
    margin-left: 25px;
    margin-right: 25px;
  }

  #login-register-buttons {
    align-content: center;
  }

  // .search-filter-input {
  //   // padding-top: 250px;
  // }
  #hero-btn {
    margin-bottom: 100px;
  }

  .landing-location-card {
    font-weight: 300;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: whitesmoke;

    .landing-card-image {
      background-size: cover;
      background-image: center;
      height: 200px;
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
      background-position: top;
      width: 100%;
      // height: 15vw;
      object-fit: cover;
    }

    .landing-card-header {
      display: flex;
      justify-content: center;
      align-items: center;

      .landing-card-title {
        margin-top: 12px;
      }

      #card-code {
        color: $secondary;
        font-weight: 800;
        font-size: 12px;
        padding-left: 6px;
        margin-top: 25px;
      }
    }

    .card-text-lp {
      display: none; // display above a certain size 768px??
    }

    #landing-page-icon-container {
      display: flex;
      flex-wrap: wrap;
    }

    .widget-container-multi {
      display: flex;
      justify-content: space-around;
    }
  }
}

#post-text {
  margin-bottom: 40px;
  margin-top: 100px;
}

#hero-text {
  margin-top: 50px;
  margin-bottom: 50px;
}

// ?Form
.form-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
}

.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 30px;
  width: 300px;
  padding: 40px 10px 20px 10px;
  border-radius: 18px;
  background-color: whitesmoke;
  border: 1px lightgrey solid;

  form {
    width: 80%;

    select {
      margin-left: 20px;
      margin-right: 20px;
      font-family: 'Roboto Slab', serif;
      color: grey;
      border: 1px lightgrey solid;
      line-height: 1;
      padding: 10px;
      border-radius: 4px;
      background-color: white;
    }


    label {
      text-align: center;
      color: grey;
    }

    #imageupload {
      font-family: 'Roboto Slab', serif;
      color: grey;
      border: 1px lightgrey solid;
      line-height: 1;
      padding: 10px;
      border-radius: 4px;
      background-color: white;
      width: 100%;
      margin-bottom: 20px;

    }

    input {
      width: 100%;
      background-color: white;
      border-color: 1px grey solid !important;
    }
  }

  .btn {
    margin-top: 30px;
    align-self: flex-end;
  }

}

legend {
  font-weight: 10px;
}

legend {
  font-weight: 10px;
}

// ? User profile page
.profile-page-container {
  margin-top: 20px;
}


.profile-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0;
  max-width: 300px;
  padding: 40px 10px 20px 10px;
  border-radius: 4px;
  background-color: whitesmoke;
  border: 1px lightgrey solid;
}

.profile-pic {
  max-width: 200px;
  border: 1px lightgrey solid;
  border-radius: 4px;
  background-color: whitesmoke;
  margin-bottom: 5px;
}

.favourite-card {
  margin: 10px 0;
  background-color: whitesmoke;
}

.list-group-img {
  max-width: 120px;
}


.review-list {
  p {
    margin: 0;
    // background-color: whitesmoke;
  }

  .buttons {
    flex-grow: 1;
    justify-content: space-around;
  }
}

.profile-btn {
  background-color: white;
  color: black;
  border-radius: 5px;
  align-self: center;
}

.profile-btn:hover {
  background-color: $secondary;
  color: white;
}

#del2-btn {
  background-color: $secondary;
  color: white;
  border-radius: 5px;
  align-self: center;
}

#del2-btn:hover {
  background-color: white;
  color: $secondary;
}


.upload-image-div {
  display: flex;
  flex-direction: column;

  #imageupload {
    font-family: 'Roboto Slab', serif;
    color: grey;
    border: 1px lightgrey solid;
    line-height: 1;
    padding: 10px;
    border-radius: 4px;
    background-color: white;
    width: 100%;
    margin-bottom: 20px;

  }

  input {
    width: 100%;
    font-size: 14px;
  }
}

.list-group-item {
  background-color: whitesmoke;
  border-radius: 8px;
}

.user-reviews {
  overflow-y: scroll;
  min-height: 150px;
  max-height: 540px;
  border-radius: 4px;
}

// ? Cards
.location-card {
  font-weight: 300;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  background-color: whitesmoke;

  .card-image {
    background-size: cover;
    background-image: center;
    height: 400px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-position: top;
    width: 100%;
    object-fit: cover;
  }

  .location-card-header {
    display: flex;
    flex-direction: row;
  }

  .location-card-title {
    margin: 8px;
  }

  .card-code-multi {
    margin-top: 0;
    display: flex;
    align-items: flex-start;
    color: $secondary;
    font-weight: 800;
  }


  .card-text {
    text-overflow: ellipsis;
    overflow: hidden;
    display: -webkit-box !important;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    white-space: normal;
  }
}

p {
  margin-top: 18px;
}

// ? Carousel Styling
.carousel-indicators {
  display: none;
}

// ?Search and Filter
.dropdown {
  border: 1px lightgrey solid;
  padding: 10px;
  font-size: 18px;
  font-family: 'Roboto Slab', serif;
  color: grey;
  line-height: 1;
  padding: 10px;
  border-radius: 4px;
}

#filter {
  font-family: 'Roboto Slab', serif;
  border: 1px lightgrey solid;
  padding: 10px;
  font-size: 18px;
  line-height: 1;
  border-radius: 4px;
  margin-top: 10px;
}

.search-filter-input {
  margin-bottom: 20px;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  padding: 10px;
}

.not-found {
  min-height: 100vh;
  text-align: center;
  margin-top: 100px;
}

// ? Location Single Page
.single-page {
  display: flex;
  max-width: 100%;
  padding: 0px;
  margin: 0px;

  .single-page-container {
    margin: 0 auto;
  }

  .mt-4 {
    margin-top: 0 !important;
  }

  .nav-tabs .nav-item .nav-link {
    color: $secondary;
  }

  .nav-tabs .nav-item .nav-link.active {
    text-decoration: underline;
    color: $secondary;
  }

  .tab-content {
    border: 1px solid #DEE2E6;
    border-top: transparent;
    padding: 15px;
  }

  .tab-content .tab-pane {
    background-color: #FFF;
    min-height: 200px;
    height: auto;
  }

  .single-page-header {
    display: flex;
    flex-direction: row;

    .single-page-name {
      flex: 1;
      display: flex;
      flex-direction: row;
    }

    .single-page-title {
      margin: 14px 5px 10px 10px;
      font-size: 20px;
    }

    .card-code {
      margin-bottom: 0px 0px 8px 0px;
      display: flex;
      align-items: flex-start;
      color: $secondary;
      font-weight: 800;
      font-size: 12px; /// change font sizes above 776px!
    }

    .rating {
      color: $secondary;
    }

  }

  .location-description {
    font-weight: 300;
    margin-top: 6px;
    margin-bottom: 20px;
  }

  .nearby-activities-title {
    margin: 0 auto !important;
  }

  .edit-delete-buttons {
    display: flex !important;
    flex-direction: column !important;
    justify-content: center !important;
    align-items: center !important;
    align-self: center !important;
  }

  #del-btn {
    background-color: $secondary;
    color: white;
    border-radius: 5px;
    padding: 10px 70px 10px 70px;
    align-self: center;
    margin-bottom: 10px !important;
  }

  #del-btn:hover {
    background-color: white;
    color: $secondary;
  }

  #edit-btn {
    background-color: rgb(238, 168, 38);
    color: white;
    border-radius: 5px;
    border: 1px solid rgb(238, 168, 38);
    padding: 10px 79.715px 10px 79.715px;
    align-self: center;
    margin-top: 0px !important;
  }

  #edit-btn:hover {
    background-color: white;
    color: rgb(238, 168, 38);
  }


  .leave-review-title {
    margin-top: 0px;
    font-size: 20px;
  }

  ::placeholder {
    color: rgb(109, 109, 109);
  }

  #rating-title {
    margin-bottom: 0;
  }

  .review-rating-container {
    display: flex;
    justify-content: center;
    margin-top: 0px;


    input[type=range] {
      height: 38px;
      -webkit-appearance: none;
      margin: 0px 0px 10px;
      width: 80%;
    }

    input[type=range]:focus {
      outline: none;
    }

    input[type=range]::-webkit-slider-runnable-track {
      width: 100%;
      height: 8px;
      cursor: pointer;
      animation: 0.2s;
      box-shadow: 1px 1px 1px #000000;
      background: #BE3144;
      border-radius: 50px;
      border: 0px solid #010101;
    }

    input[type=range]::-webkit-slider-thumb {
      box-shadow: 1px 1px 1px #828182;
      border: 1px solid #666666;
      height: 30px;
      width: 20px;
      border-radius: 6px;
      background: #FFFFFF;
      cursor: pointer;
      -webkit-appearance: none;
      margin-top: -11.5px;
    }

    input[type=range]:focus::-webkit-slider-runnable-track {
      background: #BE3144;
    }

    input[type=range]::-moz-range-track {
      width: 100%;
      height: 8px;
      cursor: pointer;
      animation: 0.2s;
      box-shadow: 1px 1px 1px #000000;
      background: #BE3144;
      border-radius: 50px;
      border: 0px solid #010101;
    }

    input[type=range]::-moz-range-thumb {
      box-shadow: 1px 1px 1px #828182;
      border: 1px solid #666666;
      height: 30px;
      width: 20px;
      border-radius: 6px;
      background: #FFFFFF;
      cursor: pointer;
    }

    input[type=range]::-ms-track {
      width: 100%;
      height: 8px;
      cursor: pointer;
      animation: 0.2s;
      background: transparent;
      border-color: transparent;
      color: transparent;
    }

    input[type=range]::-ms-fill-lower {
      background: #BE3144;
      border: 0px solid #010101;
      border-radius: 100px;
      box-shadow: 1px 1px 1px #000000;
    }

    input[type=range]::-ms-fill-upper {
      background: #BE3144;
      border: 0px solid #010101;
      border-radius: 100px;
      box-shadow: 1px 1px 1px #000000;
    }

    input[type=range]::-ms-thumb {
      margin-top: 1px;
      box-shadow: 1px 1px 1px #828182;
      border: 1px solid #666666;
      height: 30px;
      width: 20px;
      border-radius: 6px;
      background: #FFFFFF;
      cursor: pointer;
    }

    input[type=range]:focus::-ms-fill-lower {
      background: #BE3144;
    }

    input[type=range]:focus::-ms-fill-upper {
      background: #BE3144;
    }
  }

  .rev-submit-container {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }

  #rev-submit-btn:hover {
    background-color: white;
    color: $secondary;
  }

  .review-display {
    background-color: #f5f5f5;
    border: 1px solid #DEE2E6;
    border-radius: 5px;
    min-height: 100px;
    max-height: 300px;
    overflow-y: scroll;

    .individual-review {
      padding: 5px;

      #rev-name {
        color: $secondary;
        font-size: 20px;
      }
    }
  }
}

.header-image {
  height: 100%;
  width: 100%;
  position: relative;
  overflow: hidden;
  padding: 0px;
  // border-top-left-radius: 20px; above mobile size implement these!!
  // border-top-right-radius: 20px;
  border: 2px, solid, grey;
  max-height: 250px; //above mobile make larger

  .single-page-hero {
    object-fit: cover;
    width: 100%;
    height: 100%;
    min-width: 900px;
    padding: 0px;
    border: 2px, solid, grey;
  }
}

img {
  max-width: 100%;
  margin: 0;
  padding: 0;
}

.widget-container {
  display: flex;
  flex-direction: column;
  // block-size: fit-content;
  max-width: 100%;
  background-color: whitesmoke;
  border-radius: 4px;
  // border: 1px lightgrey solid;
  padding: 12px;
  padding-left: 10px; // needs more padding above mobile screen size / change orientation to row
  margin-bottom: 10px;

  .widget-text {
    color: rgb(109, 109, 109);
    font-weight: 400;
    font-size: 18px;
  }

  .ifg {
    display: flex;
    margin-bottom: 15px;

    svg {
      width: 1.5em;
      height: 1.5em;
      color: #BE3144;
      margin: 15px;
    }

    #ifg {
      color: #BE3144;
    }
  }
}

hr {
  width: 90%;
  margin: 0 auto;
  margin-bottom: 12px;
}

.review-form {
  display: flex;

  small {
    display: block;
    margin-bottom: 15px;
  }
}

textarea {
  width: 100%;
}

.map-container {
  height: 400px;
  display: flex;
  align-items: top;
}

.sidebar {
  background-color: rgba(35, 55, 75, 0.9);
  color: #fff;
  padding: 6px 6px;
  z-index: 5;
  position: absolute;
  top: 0.5;
  left: 1;
  margin: 12px;
  border-radius: 4px;
}



@media (min-width: 576px) {
  .top-rated {
    display: flex;
    justify-content: center;
  }

}



@media (min-width: 768px) {
  .header-image {
    max-height: 500px;
  }

  .search-filter-input {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-evenly;

    .filter {
      margin: 0;
      width: 300px;
    }

    #filter {
      width: 300px;
    }
  }

  .single-page-title {
    font-size: 35px !important;
  }

  .card-code {
    margin-top: 24px;
    font-weight: 800;
    font-size: 20px !important; /// change font sizes above 776px!
  }

  .rating {
    font-size: 20px;
  }

  .widget-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    block-size: fit-content;
    max-width: 100%;
    background-color: whitesmoke;
    padding: 12px;
    border-radius: 4px;
    border: 1px solid lightgrey;


    .widget-text {
      font-weight: 400;
      font-size: 9px;
    }

    .ifg {
      display: flex;
      margin-bottom: 0px;

      svg {
        margin-right: 12px;
        width: 1.2em;
        height: 1.2em;
      }
    }
  }

  .landing-location-card {
    .card-text-lp {
      display: block; // display above a certain size 768px??
    }
  }

}

/* Desktop up - once gets above phone screen size of 992 then apply this */
@media (min-width: 992px) {
  .landing-page {
    margin-left: 100px;
    margin-right: 100px;
  }

  .container {
    max-width: 800px;
    padding: 0px !important;

    .nav-link {
      padding-right: 0px !important;
    }
  }

  .location-card {
    display: flex;
    height: 350px;
  }

  .header-image {
    max-height: 500px;
  }

  #location-form {
    width: 500px;
  }

  .single-page-hr {
    display: none;
  }

  .review-tab-container {
    display: flex;
    justify-content: space-around;

    .leave-review-container {
      display: flex;
      justify-content: flex-start;
    }
  }

  .review-display {
    border-radius: 5px;
    min-height: 200px !important;
    max-height: 200px !important;
    min-width: 400px !important;
    max-width: 400px !important;
    overflow-y: scroll;

    .individual-review {
      padding: 5px;
    }
  }
}

@media (min-width: 1200px) {
  .container {
    // max-width: 1200px !important;
    padding: 0px !important;
  }

  .landing-page {
    margin-left: 200px;
    margin-right: 200px;
  }

  .radio-buttons-large {
    display: flex;
  }

  #location-form {
    width: 800px;
  }

  .top-radio-buttons {
    margin-left: 40px;
    display: flex;
  }

  .bottom-radio-buttons {
    display: flex;
    margin-right: 40px;
  }

  .button-large {
    display: flex;
    flex-direction: column;
    margin-left: 60px;
  }

  #fuel {
    margin-top: 30px;
  }
}

@media (min-width: 1400px) {
  .container {
    max-width: 1000px;
    padding: 0px !important;
  }
}